<section class="hero is-small is-dark">
  <div class="hero-body">
    <p class="title px-6">
      <% if Date.today.day == 1%>
        People born on the <%= Date.today.strftime("%dst of %B") %> 
      <% elsif Date.today.day == 2%>
        People born on the <%= Date.today.strftime("%dnd of %B") %>
      <% elsif Date.today.day == 3%>
        People born on the <%= Date.today.strftime("%drd of %B") %>
      <% else %>
        People born on the <%= Date.today.strftime("%dth of %B") %>
      <% end %>
    </p>
    <p class="subtitle px-6 has-text-justified">
    </p>
  </div>
</section>

<div class="section">
  <div class="columns">
    <div class="column">
      <% @births.each do | birth |%>
        <div class="container">
          <a class="subtitle has-text-weight-semibold" id="<%=birth['pages'][0]['wikibase_item']%>"><%= birth['pages'][0]['displaytitle'].html_safe%></a>
          <div class="columns mt-3">
              <% if birth['pages'][0]['thumbnail']%>
                <div class="column is-3 has-text-centered">
                  <%= image_tag birth['pages'][0]['thumbnail']['source']%><br>
                  <p class="is-size-7 has-text-italic"><%= birth['pages'][0]['description'] %></p>
                </div>
              <% end %>
            <div class="column">
              <p><%= birth['text'].html_safe %></p><br>
              <p><%= birth['pages'][0]['extract_html'].html_safe%></p><br>
              <a href="<%= birth['pages'][0]['content_urls']['desktop']['page']%>" target="_blank">Read more here</a>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="column is-one-quarter">
      <p class="subtitle">Jump to birthday</p>
      <% @births.each do | birth |%>
        <a href="#<%= birth['pages'][0]['wikibase_item'] %>"><%= birth['pages'][0]['displaytitle'].html_safe%></a><br>
      <% end %>
    </div>
  </div>
</div>